@keyframes spin {
    0% { transform: translateZ(-1000px) rotateX(30deg) rotateY(-50deg) rotateZ(-30deg); }
    50% { transform: translateZ(-1000px) rotateX(20deg) rotateY(-60deg) rotateZ(-20deg); }
    100% { transform: translateZ(-1000px) rotateX(30deg) rotateY(-50deg) rotateZ(-30deg); }

}

@keyframes spin2 {
    0% { transform: translateZ(-900px) rotateX(20deg) rotateY(-60deg) rotateZ(-20deg); }
    50% { transform: translateZ(-900px) rotateX(30deg) rotateY(-50deg) rotateZ(-30deg); }
    100% { transform: translateZ(-900px) rotateX(20deg) rotateY(-60deg) rotateZ(-20deg); }
}

@keyframes spin3 {
    0% { transform: translateZ(-2000px) rotateX(20deg) rotateY(-60deg) rotateZ(-20deg); }
    50% { transform: translateZ(-2000px) rotateX(30deg) rotateY(-50deg) rotateZ(-30deg); }
    100% { transform: translateZ(-2000px) rotateX(20deg) rotateY(-60deg) rotateZ(-20deg); }

}

#wrapper {
    position: relative;
    width: 200px;
    padding-top: 100px;
    margin: 0 auto;
    perspective: 1200px;
}
#platform {
  margin-top:100px;
}
.dice span {
    position:absolute;
    margin:100px 0 0 100px;
    display: block;
    font-size: 2.5em;
    padding: 10px;
}
.dice {
    position: absolute;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: spin 10s infinite linear;
}
#dice1 {
  left: -150px;
  top: 120px;
}
#dice2 {
  left: 100px;
  top: 200px;
  animation: spin2 10s infinite linear;
}
#dice3 {
  left: -100px;
  top: 700px;
  animation: spin3 10s infinite linear;
}
.side {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff;
    box-shadow:inset 0 0 40px #ccc;
    #border-radius: 40px;
}
#dice1 .side {
    background: #308030;
}
#dice2 .side {
    background: #803030;
}
#dice3 .side {
    background: #303080;
}
.side .txt {
    position: absolute;
    color: black;
    font-size: 150px;
    top: 10px;
    left: 50px;
}
.dice .cover, .dice .inner {
    background: #e0e0e0;
    box-shadow: none;
}
.dice .cover {
    border-radius: 0;
}
.dice .cover.x {
    transform: rotateY(90deg);
}
.dice .cover.z {
    transform: rotateX(90deg);
}
.dice .front  {
    transform: translateZ(100px);
}
.dice .front.inner  {
    transform: translateZ(99px);
}
.dice .back {
    transform: rotateX(-180deg) translateZ(100px);
}
.dice .back.inner {
    transform: rotateX(-180deg) translateZ(99px);
}
.dice .right {
    transform: rotateY(90deg) translateZ(100px);
}
.dice .right.inner {
    transform: rotateY(90deg) translateZ(99px);
}
.dice .left {
    transform: rotateY(-90deg) translateZ(100px);
}
.dice .left.inner {
    transform: rotateY(-90deg) translateZ(99px);
}
.dice .top {
    transform: rotateX(90deg) translateZ(100px);
}
.dice .top.inner {
    transform: rotateX(90deg) translateZ(99px);
}
.dice .bottom {
    transform: rotateX(-90deg) translateZ(100px);
}
.dice .bottom.inner {
    transform: rotateX(-90deg) translateZ(99px);
}
.dot {
    position:absolute;
    width:46px;
    height:46px;
    border-radius:23px;
    background:#444;
    box-shadow:inset 5px 0 10px #000;
}
.dot.center {
    margin:77px 0 0 77px;
}
.dot.dtop {
    margin-top:20px;
}
.dot.dleft {
    margin-left:134px;
}
.dot.dright {
    margin-left:20px;
}
.dot.dbottom {
    margin-top:134px;
}
.dot.center.dleft {
    margin:77px 0 0 20px;
}
.dot.center.dright {
    margin:77px 0 0 134px;
}
