.loading {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bold;
}

.loading .txt {
  text-align: center;
  margin-bottom: 10px;
}

.loading .progressbar {
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 5px;
  width: 300px;
  height: 10px;
}

.loading .progressbar .status {
  margin: 3px;
  background-color: green;
  border-radius: 5px;
  width: 294px;
  height: 4px;
}

#imgs_container {
    display: none;
}