.menu_icon {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 16px;
  height: 16px;
  background-image: url("../img/eject-symbol.png");
  cursor:pointer;
}

.menu_icon:hover{
  background-image: url("../img/eject-symbol_green.png");
}

.menu {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 150px;
  #height: 100px;
  font-weight: bold;
}

.menu .item {
  width: 100%;
  height: 22px;
  border: 2px solid #ffffff;
  border-radius: 11px;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(130, 130, 50) , rgb(0, 0, 0)  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(130, 130, 50) , rgb(0, 0, 0)  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(130, 130, 50) , rgb(0, 0, 0)  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(130, 130, 50) , rgb(0, 0, 0)  ); /* Standard syntax */
  cursor:pointer;
}

.menu .item.disabled {
  color: grey;
}

.menu .item:hover {
  border: 2px solid #91dc5a;
  color: #91dc5a;
}

.menu .item.disabled:hover {
  border: 2px solid #ffffff;
  color: grey;
}

.menu .item .triangle {
  float: right;
  margin-top: 4px;
  margin-right: 3px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 14px solid #ffffff;
}

.menu .item:hover > .triangle {
  border-left: 14px solid #91dc5a;
}

.menu .item .triangle_back {
  float: left;
  margin-top: 4px;
  margin-left: 3px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 14px solid #ffffff;
}

.menu .item:hover > .triangle_back {
  border-right: 14px solid #91dc5a;
}
