.player {
  position: absolute;
  width: 150px;
  height: 50px;
}

.player .portrait {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 25px;
}

.player .portrait .avatar {
  margin: 3px;
  width: 40px;
  height: 40px;
  background-color: grey;
  background-image: url("../img/avatar_40.jpg");
  border: 1px solid #000000;
  border-radius: 25px;
}

#avatar1 {
  background-image: url("../img/zenek.jpg");
}

.player .name {
  position: absolute;
  left: 30px;
  top: 5px;
  width: 115px;
  height: 40px;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 5px;
}

.player .name .frame {
  margin: 3px;
  width: 107px;
  height: 32px;
  background-color: grey;
  border: 1px solid #000000;
  border-radius: 5px;
}

.player .name .frame .grad {
  width: 100%;
  height: 100%;
  background: yellow; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(255, 255, 0) , rgb(0, 0, 0)  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(Gold , rgb(0, 0, 0)  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(255, 255, 0) , rgb(255, 0, 0)  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(255, 255, 0) , rgb(200, 255, 100)  ); /* Standard syntax */
  border-radius: 5px;
}

.player .name .frame .grad .txt {
  position: absolute;
  width: 80px;
  height: 30px;
  left: 20px;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 1px #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.player .name .frame .grad .txt.second {
  top: 20px;
  font-size: 12px;
}

#player1 {
  top: 50px;
  left: 50px;
}

#player2 {
  top: 110px;
  left: 50px;
}
