@keyframes borderBlink {
    from, to {
        border-color: white;
        animation-timing-function: ease-in;
    }
    50% {
        border-color: black;
        animation-timing-function: ease-in;
    }
}

#tabs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: initial;
  border: 0px;
  color: default;
  font-size: 17px;
  overflow: hidden;
  padding: 0px;
}
 
#tabs .ui-tabs-nav { 
    position: absolute;
    left: 0.25em;
    right: 0.25em;
    bottom: 0.25em;
    padding: 0em 0.2em 0.2em;
} 

#tabs .ui-tabs-nav li { 
    border-top: none;
    border-bottom: 1px solid #ccc;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
} 

#tabs .ui-tabs-nav li.ui-tabs-selected, #tabs .ui-tabs-nav li.ui-state-active { 
    top: -1px;
}

#tabs .ui-tabs-nav li a {
  padding: 0.1em 1em;
}

#tabs .ui-widget-content {
  position: absolute;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: calc(100% - 2.3em);
}

#board {
  width: 100%;
  height: 100%;
  /* Adding a perspective to create a 3d space */
  /* The user is looking "from" 500px and we */
  /* push the element forward (toward the user) */
  /* by 200px */
  #transform: perspective(100px) translateZ(-10px);
}

.box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 455px;
  height: 695px;
  border-radius: 40px;
  transform:scale(0.5);
  -webkit-transform:scale(0.5);
  -moz-transform:scale(0.5);
  -o-transform:scale(0.5);
  background-repeat: no-repeat;
}

#box1 {
  background-image: url("../modules/data/Agricola/main-deck-cards.jpg");
  background-position: 0px 0px;
}

#box2 {
  background-image: url("../modules/data/Agricola/main-deck-cards.jpg");
  left: 250px;
  top: 0px;
  background-position: -452px 0px;
}

.box:hover {
  border: 10px solid yellow;
  animation: borderBlink 0.5s step-end infinite;
}