body {
  background-color: grey;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  #font-size: 12px;
  color: white;
  cursor: grab;
}

@font-face {
  font-family: 'AsianDelight';
  src: url('../font/Asian Delight.ttf')  format('truetype');
}

.asia_font {
  font-family: 'AsianDelight', Fallback, sans-serif;
}

.noTitle .ui-dialog-titlebar {
  display:none;
}

.tittle_screen{
  margin-top: 350px;
  text-align: center;
}

.tittle_screen .app_title {
  font-size: 60px;
}

.tittle_screen .app_version {
  margin-top: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.ui-widget-overlay {
  background: #000000;
}

.ui-tabs-panel {
  overflow:hidden;
}

.ui-dialog {
  font-size: 14px;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
}

img#zuntzu_icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: top;
    margin-right: 10px;
}

#dialog_about p {
  display: inline-block;
  margin: 4px;
}

#dialog_controls .left_panel, .right_panel {
  float: left;
}

#dialog_controls .left_panel {
  margin-right: 40px;
}

#dialog_player label {
  width: 80px;
  display: inline-block;
}

#dialog_player input {
  width: 180px;
}

#dialog_player select {
  width: 180px;
}

#dialog_game_list button {
  width: 100px;
}

#game_list {
  width: 640px;
  height: 480px;
  background-color: white;
  float: left;
  margin-right: 20px;
  border: 1px solid black;

  min-height: 200px;
  max-height: 480px;
  overflow-y: auto;
}

#game_list_buttons {
}

#game_list_buttons button {
  margin-top: 10px;
}

#games .ui-selecting {
  background: #FECA40;
}
#games .ui-selected {
  background: #F39814;
  color: white;
}
#games {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 620px;
}
#games li {
  margin: 3px;
  padding: 0px;
  font-size: 1.4em;
  height: 54px;
}
#games img {
  float: left;
  width: 48px;
  height: 48x;
  margin: 2px;
  border: 1px solid black;
}

.game_list_item {
  float: left;
  font-size: 10px;
  margin-left: 2px;
}
.game_list_item_name {
  font-size: 14px;
  color: blue;
  font-weight: bold;
}

.game_list_item_copy {
  font-size: 10px;
  color: gray;
}

.game_list_item_desc {
  font-size: 10px;
}

#ztb_uploader {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    width: 100%;
    height: 100%;
    text-align: center;
}

.dropzone .dz-message {
    text-align: center;
    margin: 6em 0;
}

.hidden {
  display: none;
}
