<ol id="games">
{%for game in games %}
  <li class="ui-widget-content" id="{{ game.id }}">
    {%if game.icon_exists %}
    <img src="/static/modules/data/{{ game.folder }}/icon.bmp">
    {%else%}
    <img src="/static/img/icon_default.bmp">
    {%endif%}
    <div class="game_list_item">
      <div class="game_list_item_name">{{ game.name }}</div>
      {%if game.copyright %}
      <div class="game_list_item_copy">copyright&copy; {{ game.copyright }}</div>
      {%endif%}
      <div class="game_list_item_desc">{{ game.description|truncatechars:120 }}</div>
    </div>
  </li>
{%endfor%}
</ol>